[submodule "src/ext/jitify"]
	path = src/ext/jitify
	url = https://github.com/NVIDIA/jitify.git
[submodule "src/ext/tinyexr"]
	path = src/ext/tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "src/ext/stb"]
	path = src/ext/stb
	url = https://github.com/nothings/stb.git
[submodule "src/ext/OpenCL-CLHPP"]
	path = src/ext/OpenCL-CLHPP
	url = https://github.com/KhronosGroup/OpenCL-CLHPP.git
